<div class="expose">
  <div class="row">
    <div class="col-md-6">
       <img src="images/hello.png" alt="hello my name is" class="homepage__illustration-1" data-bottom-top="transform: rotate(40deg) translate(-100%, 0);" data-top-center="transform: rotate(0deg) translate(0%, 0);" data-top-bottom="transform: rotate(10deg) translate(-50%, 0);">
       <img src="images/hello-shadow.png" alt="hello my name is" class="homepage__illustration-2" data-bottom-top="transform: rotate(38deg) translate(-100%, 0);" data-top-center="transform: rotate(0deg) translate(0%, 0);" data-top-bottom="transform: rotate(10deg) translate(-50%, 0);">
    </div>
    <div class="col-md-6">
      <h1 class="red bold">Exposer</h1>
      <h2>Vous souhaitez exposer à Build'in ?</h2>
      <p>Télécharger la plaquette exposant pour avoir toutes les infos</p>
      <a href="" class="btn btn-primary btn-lg btn--contact">Buildin Exposant PDF</a>
      <br><br>
      <h2>Vous souhaitez en savoir plus ?</h2>
      <p>Contactez Viviane Fabri-Séguillon</p>
      <a href="#contact" class="btn btn-primary btn-lg btn--contact">Contact</a>
      <br><br>
      <h2>Qui expose ?</h2>
    </div>
    
  </div>
  </div>