<div class="expose">
  <h1 class="tac bold red">Pourquoi exposer à BUILD IN BARCELONA 2016 ?</h1>
  <div class="row">
    <div class="col-md-6">
       <img src="images/hello.png" alt="hello my name is" class="homepage__illustration-1" data-bottom-top="transform: rotate(40deg) translate(-100%, 0);" data-top-center="transform: rotate(0deg) translate(0%, 0);" data-top-bottom="transform: rotate(10deg) translate(-50%, 0);">
    </div>
    <div class="col-md-6">
       <ul>
          <li>Une formule à <b>forte valeur ajoutée </b>!</li>
          <li>Une promotion de l’événement et <b>une visibilité à l’international</b> (Espagne, France et Portugal)</li>
          <li>Un nombre limité d’exposants pour des <b>rencontres intimes et conviviales</b></li>
          <li>Un « <b>pack clé en main</b> » pour chaque entreprise participante :</li>
          <ul>
            <li>Un espace d’exposition dédié</li>
            <li>Un accompagnement personnalisé par un scénographe</li>
            <li>Des outils de communication personnalisés : invitations, emailing</li>
            <li>Une présence sur le site internet de l’évènement buildinbarcelona.com</li>
            <li>La remise du fichier qualifié des visiteurs présents ou préenregistrés</li>
          </ul>
         <li><b>Deux jours d’exposition</b> et une soirée de clôture réservée à vos clients vip</li>
         <li><b>Une conférence sur l’actualité</b> de l’architecture et des matériaux</li>
         <li>La convivialité d’un « <b>bar lounge</b> » permanent pendant toute la durée de l’événement</li>
       </ul>
    </div>
    
  </div>
  </div>