<div class="informations">
	<h1>Informations pratiques</h1>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

			<p>Horaires :</p>
			<ul>
				<li>Mercredi 16 novembre de 9h à 20h</li>
				<li>Jeudi 17 novembre de 9h à 19 h</li>
				<li>A partir de 19h 30 : soirée de clôture sur invitation</li>
				<li>Accès libre pour les professionnels de l’architecture après <a href="#contact">inscription</a></li>
			</ul>

			

			<p>Transports</p>
			<ul>
				<li>Métro: Línea 1 (Glòries )</li>
				<li>Autobus: Líneas 7, 60, 92, 192, H12</li>
				<li>Tranvia: T4, T5, T6 (Glòries)</li>
				<li>Stations de Bicing: Av. Meridiana, 66; Bolívia, 76</li>
				<li>Parkings: Ona Glòries (c. de la Ciutat de Granada, 173-175), Centro Comercial Glòries (av. Diagonal, 208)</li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<p>Adresse de l’évènement : </p>
			<ul>
				<li>Museu del Disseny de Barcelona</li>
				<li>Edificio Disseny Hub Barcelona</li>
				<li>Pl. de les Glòries Catalanes, 37-38</li>
				<li>08018 Barcelona</li>
				<li><a href="http://www.museudeldisseny.cat">www.museudeldisseny.cat</a></li>
			</ul>
			<div class="informations__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.6918466151737!2d2.1859503511670035!3d41.40249807916114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49859667767d7%3A0x917424b910d7d04a!2sMuseu+del+Disseny+de+Barcelona!5e0!3m2!1sen!2sfr!4v1452012507307" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>