
<div class="intro">
  <div class="intro__text">
    <p class="tac">BUILD’IN est un événement professionnel dédié aux solutions et matériaux innovants pour l’architecture, la construction et l’aménagement intérieur. BUILD’IN a pour objectif de créer de nouveaux dialogues entre les industriels et les prescripteurs grâce à une mise en scène valorisant les potentiels créatifs et sensoriels des matériaux et des solutions présentées. BUILD’IN c’est deux jours de temps forts dans un lieu d’exception et des conférences sur l’architecture et les matériaux.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="intro__img-wrap px-img">
        <div class="shadow"></div>
        <img src="images/echanges-front.png" alt="echanges" class="px-img-front" data-bottom-top="bottom:0px; left:-10px; transform: scale(1);" data-center-center="bottom:0px; left:20px; transform: scale(1.1);" >
        <img src="images/echanges-back.jpg" alt="echanges" class="px-img-back"  data-bottom-top="transform: scale(1.4); top:0px; left: 0px;" data-center-center="transform: scale(1.1); top:0px; left: 10px;">
      </div>
      <h3 class="bold red">Des rencontres privilégiées avec des prescripteurs</h3>
      <p class="h4">Créer, dans un contexte convivial, de nouveaux dialogues autour de vos solutions, vos innovations techniques et vos matériaux.</p>
    </div>
    <div class="col-md-4">
      <div class="intro__img-wrap px-img">
        <div class="shadow"></div>
        <img src="images/innovation-front.png" alt="innovation" class="px-img-front" data-bottom-top="bottom:-280px; right:40px; left:inherit; transform: scale(1.2);" data-center-center="bottom:-280px; right:20px; left:inherit; transform: scale(1.2);" >
        <img src="images/innovation-back.jpg" alt="innovation" class="px-img-back"  data-bottom-top="transform: scale(1.2); top:inherit; bottom:-280px; left: -20px;" data-center-center="transform: scale(1.1); top:inherit; bottom:-280px; left: 20px;">
      </div>
      <h3 class="bold red">Une scénographie originale</h3>
      <p>La mise en scène “autrement” de vos matériaux et solutions permet de stimuler la créativité des architectes, architectes d’intérieur, designers, bureaux d’études, promoteurs…</p>
    </div>
    <div class="col-md-4">
      <div class="intro__img-wrap">
        <img src="images/convivialite.jpg" alt="convivialite" class="intro__img">
      </div>
      <h3 class="bold red">Un cadre prestigieux</h3>
      <p>Le Musée du design de Barcelone, situé dans le nouveau quartier Glories, accueille BUILD IN BARCELONA pendant les deux journées d’exposition et de rencontres et la soirée de clôture.</p>
    </div>
  </div>
  <div class="tac">
    <a href="#contact" class="btn btn-primary btn-lg btn--contact">Contactez-nous</a>
  </div>
</div>