<div class="organisateurs">
	<h1 class="tac">Trois organisateurs reconnus</h1>
	<div class="container">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="organisateurs__img-wrap">
				<img src="images/logo-servicom.png" alt="servicom" class="organisateurs__img">
			</div>
			<p>Servicom Consulting possède 20 ans d’expérience en matière de lobbying, promotion, communication et commercialisation d’évènements en Espagne et à l’international.</p>
			<p>Pour plus d'informations : <a href="http://servicomconsulting.com/es/">http://servicomconsulting.com/es/</a></p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="organisateurs__img-wrap">
				<img src="images/logo-thema-design.png" alt="thema design" class="organisateurs__img">
			</div>
			<p>THEMA_DESIGN est une agence de communication dont le positionnement est de traduire le discours des industriels pour le rendre attractif pour les prescripteurs en parlant “autrement” de leurs matériaux, de leurs solutions et de leurs innovations.</p>
			<p>Pour plus d'informations : <a href="http://www.thema-design.com">www.thema-design.com</a></p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="organisateurs__img-wrap">
				<img src="images/logo-materfad.png" alt="materfad" class="organisateurs__img">
			</div>
			<p>La FAD est une association dont l’objetcif est de promouvoir le design et l’architecture <a href="http://www.fad.cat/">http://www.fad.cat/</a>. Materfad est la matériauthèque de Barcelone <a href="http://es.materfad.com/">http://es.materfad.com/</a></p>
		</div>
	</div>
</div>
