<div class="organisateurs">
	<h3 class="bold red tac">BUILD’IN est organisé par</h3>
	<div class="container">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="organisateurs__img-wrap">
				<a href="http://servicomconsulting.com/es/">
				<img src="images/logo-servicom.png" alt="servicom" class="organisateurs__img">
				</a>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="organisateurs__img-wrap">
				<a href="http://www.thema-design.com">
					<img src="images/logo-thema-design.png" alt="thema design" class="organisateurs__img">
				</a>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="organisateurs__img-wrap">
				<a href="http://es.materfad.com/">
					<img src="images/logo-materfad.png" alt="materfad" class="organisateurs__img">
				</a>
			</div>
		</div>
	</div>
</div>
