<div class="testimonials">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="testimonials__wrap">
          <img src="images/portrait-thema.jpg" class="testimonials__portrait" alt="nicole">
          <h1 class="testimonials__title">THEMA_DESIGN, createur de concept d'evenement Buildin, a organisé avec success plusieurs evenenment lié a l'architecture</h1>
          <!-- <p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate animi hic eveniet dolores, deserunt neque ducimus officia quisquam. Provident, atque, consequuntur! Pariatur doloremque voluptas eos, recusandae corporis eius inventore harum.</p> -->
          <p class="testimonials__author">L'equipe THEMA_DESIGN</p>
        </div>
      </div>
  
      <div class="item">
        <div class="testimonials__wrap">
          <img src="images/portrait-viviane.jpg" class="testimonials__portrait" alt="viviane">
          <h1 class="testimonials__title">SERVICOM est votre partenaire événementiel en Espagne pour créer des événements marquants, porteurs d'image et de contenu !</h1>
          <!-- <p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate animi hic eveniet dolores, deserunt neque ducimus officia quisquam. Provident, atque, consequuntur! Pariatur doloremque voluptas eos, recusandae corporis eius inventore harum.</p> -->
          <p class="testimonials__author">Viviane Fabri-Séguillon</p>
        </div>
      </div>
      
    </div>
  
    <!-- Left and right controls -->
    <a class="left" href="#myCarousel" role="button" data-slide="prev">
      <span class="sr-only">Previous</span>
    </a>
    <a class="right" href="#myCarousel" role="button" data-slide="next">
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
