<header class="header">
	<div class="header__img" data-0="background-position:0px -90px; -webkit-filter: blur(0px);" data-500="background-position:0px -300px; -webkit-filter: blur(10px);"></div>
	<div class="wrapper">
	    <div class="header__shadow"></div>
	      <img src="images/logo.png" alt="Buildin" width="400" class="header__logo">
	      <h1 class="header__title">Un <span class="red">évènement professionnel</span> dédié aux solutions et matériaux innovants <span class="red">pour l’architecture</span>,<br> la construction et l’aménagement intérieur.</h1>
	</div>
</header>

<nav class="menu">
	<ul>
		<li><a href="#concept">Le concept</a></li>
		<li><a href="#visiter">Visiter</a></li>
		<li><a href="#exposer">Exposer</a></li>
		<li><a href="#exposer">Informations pratiques</a></li>
	</ul>
</nav>