@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: "bebas_neuelight";
    font-weight: $base-font-weight;
}




/**
 * Links
 */
a {
    color: $red;
    text-decoration: none;

    &:visited {
        color: darken($red, 15%);
    }

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.dn {
    display: none;
}

/**
 * Buttons
 */
.btn-primary {
    border-radius: 0px;
    color: #fff;
    background-color: $red;
    border-color: $red;
    padding: 30px 50px;
    &:focus, &:hover, &:active, &:visited, &:active:hover {
        color: #fff;
        background-color: $red;
        border-color: $red;
    }
}
.btn-secondary {
    border-radius: 0px;
    color: #fff;
    border-width: 3px;
    border-color: #fff;
    padding: 30px 50px;
    &:focus, &:hover, &:active, &:visited, &:active:hover {
        color: $red;
        background-color: #fff;
        border-color: #fff;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.red {
    color: $red;
}
.white {
    color: #fff;
}

.bold {
    font-family: "bebas-neue";
    font-weight: $base-font-weight;
}

.tac {
    text-align: center;
}

label {
    font-weight: normal;
    font-family: "bebas_neuelight";
}

.form-control {
    height: 50px;
}

.px-img {
    position: relative;
    &-front {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
    }
    &-back {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
    }
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -30px 100px rgba(0,0,0,.9);
    top: 0;
    left: 0;
    z-index: 2;
}

.menu {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-bottom: solid 1px #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
   
    &--white {
        background: rgba(255, 255, 255, 0.9);
        border-bottom: solid 1px #000;
        a,
        a:hover,
        a:visited,
        a:focus {
            color: #111;
        }
    }
    
    &__list {
        margin: 0;
        padding: 0;
    }
    
    &__item {
        position: relative;
        margin: 0 1em;
        display: inline-block;
        font-family: "bebas_neuelight";
        font-weight: $base-font-weight;
    }

    &__link {
        position: relative;
        display: block;
        min-width: 105px;
        text-align: center;
        color: #fff;
        padding: 10px;
        transition: color 0.3s;
    }

    &__link:hover,
    &__link:visited,
    &__link:focus {
        color: #fff;
    }

    &__item--current .menu__link {
        color: #d94f5c;
    }

    &__item::before,
    &__item::after,
    &__link::before,
    &__link::after {
        content: '';
        position: absolute;
        background: #d94f5c;
        -webkit-transform-origin: 350% 350%;
        transform-origin: 350% 350%;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    &__item::before,
    &__item::after {
        top: 0;
        width: 2px;
        height: 100%;
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
    }

    /* left line */
    &__item::before {
        left: 0;
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    /* right line */
    &__item::after {
        right: 0;
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    &__link::before,
    &__link::after {
        left: 0;
        width: 100%;
        height: 2px;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }

    /* top line */
    &__link::before {
        top: 0;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    /* bottom line */
    &__link::after {
        bottom: 0;
    }

    &__item--current::before,
    &__item--current::after,
    &__item--current .menu__link::before,
    &__item--current .menu__link::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


// animation


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

