.numbers {
	color: #fff;
	p {
		margin-top: 40px;
		font-size: 30px;
	} 
	&__counter {
		font-family: "bebas_neuelight";
		line-height: 1;
		font-weight: $base-font-weight;
		color: #fff;
		width: 400px;
		text-align: center;
	}
	&__line {
		width: 100%;
		display: block;
	}
	&__num-wrap {
	}
	&__num {
	}
	&__num-text {
	}
}