.testimonials {
	&__wrap {
		padding-bottom: 40px;
		max-width: 60%;
		margin: 0 auto;
	}
	&__portrait {
		display: block;
		margin: 0 auto 20px;
	}
	&__title {
		text-align: center;
		color: #fff;
		font-family: "museo-sans";
		font-style: italic;
		line-height: 1;
		&:before {
			content: "«";
		}
		&:after {
			content: "»";
		}
	}
	&__text {
		color: #fff;
		text-align: center;
	}
	&__author {
		color: #fff;
		text-align: center;
		font-style: italic;
		color: #999;
	}
}