.testimonials {
	&__wrap {
		padding-bottom: 40px;
		max-width: 60%;
		margin: 0 auto;
	}
	&__portrait {
		display: block;
		border-radius: 4px;
		border: solid 1px #999;
		margin: 0 auto 20px;
	}
	&__title {
		text-align: center;
		color: #fff;
		font-family: "museo-sans";
		font-style: italic;
		line-height: 1;
		&:before {
			content: "«";
		}
		&:after {
			content: "»";
		}
	}
	&__text {
		color: #fff;
		text-align: center;
	}
	&__author {
		color: #fff;
		text-align: center;
		font-style: italic;
		color: #999;
	}
	.carousel-indicators {
		bottom: 0;
	}
	a.left {
		width: 50px;
		height: 70px;
		text-indent: -999999px;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -35px;
		display: block;
		background: url("../images/arrow-left.png") no-repeat;
	}

	a.right {
		width: 50px;
		height: 70px;
		text-indent: -999999px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -35px;
		display: block;
		background: url("../images/arrow-right.png") no-repeat;
	}
}