<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="homepage">
      
      <div class="container">
        
        <section class="homepage__section" id="concept">
          {% include _concept.html %}
          {% include _organisateurs.html %}
        </section>
      </div>
      

     
      <section class="homepage__section homepage__section--red" data-bottom-top="background:rgba(226,233,242,1);" data-center-center="background:rgba(216,60,79,1);" id="visiter">
          <div class="container">
              {% include _visiter.html%}
          </div>
      </section>
      
       <section class="homepage__section" id="exposer">
          <div class="container">
            {% include _expose.html %}
          </div>
      </section>

      <section class="homepage__section homepage__section--grey" id="programe">
        <div class="container">
        {% include _timeline.html %}
        </div>
      </section>

      <section class="homepage__section homepage__section--black">
        {% include _testimonials.html %}
      </section>
      
      <section class="homepage__section homepage__section--red" data-bottom-top="background:rgba(226,233,242,1);" data-center-center="background:rgba(216,60,79,1);">
          <div class="container">
            {% include _numbers.html %}
          </div>
      </section>

      <section class="homepage__section homepage__section--grey" id="informations-pratiques">
        <div class="container">
        {% include _informations.html %}
        </div>
      </section>


      <section class="homepage__section homepage__section--black" id="contact">
        <div class="container">
        {% include _contact.html %}
        </div>
      </section>
    </div>

    {% include footer.html %}
  
  <script src="scripts/main.min.js"></script>

  </body>

</html>
